# ROI FC to chosen voxels

Calculate the ROI timecourse and their correlation to the chosen voxels from previous analysis step

1. Average the timecourse for all ROIs

2. Extract timecourses of the voxels

3. Calculate the correlation between them

In [3]:
import numpy as np
import pandas as pd

In [ ]:
# get 11883 x 270 matrix for each participant from the image
# saving folder: C:\Users\canlab\Desktop\Masterthesis_python\ReDoneAnalysis20200420\FC_features

In [10]:
# label+ID ordering from matlab script t-sne_PFC_labeling
labels = np.load('C:/Users/canlab/Desktop/Masterthesis_python/Voxel_ID_ROI_Membership', allow_pickle=True)

In [6]:
# voxel ID ordering from the extraction of timecourses: matlab script: connectivity_matrix_modified
coord_all=pd.read_csv('C:/Users/canlab/Desktop/Masterthesis_python/ReDoneAnalysis20200420/FC_features/Timeseries_data/coord_all.csv', header = None)

In [9]:
coord_all.columns=['Voxel_ID']
coord_all

       Voxel_ID
0        205886
1        205887
2        205978
3        206069
4        206160
...         ...
11878    491073
11879    491164
11880    491255
11881    491346
11882    491437

[11883 rows x 1 columns]

In [11]:
labels

           ID    Label
0      205889     OFC1
1      205890     OFC1
2      205980     OFC1
3      206071     OFC1
4      206162     OFC1
...       ...      ...
11878  491091  Caudate
11879  491182  Caudate
11880  491273  Caudate
11881  491364  Caudate
11882  491455  Caudate

[11883 rows x 2 columns]